*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AvenirLTStd-Black ;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}

.home{
   
    border-radius: 12px;
    display: flex;
    height: 60px;
    align-items: center;
}
.home{
    
    border-radius: 12px;
    display: flex;
    height: 60px;
    align-items: center;
}
.home:hover{
   background-color:  #FF2288;
}


.container{
    display: flex;  
   
}
.container{
    background-color: #222222;
    justify-content: center;
    align-items: center;
}

.container h3{
    color: #FFFFFF;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    
}
.menue{
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    margin-top: 54px;
    
}

.design{
    display: flex;
    margin-bottom: 107px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
   
}
.design h4{
    color: #FFFFFF;
    font-size: 24px;

}

.follow{
    margin-top: 90px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.follower{
    display: flex;
    margin-top: 15px;
}
.load{
    margin-top: 20px;
    margin-bottom: 105px;
    color: #FFFFFF;  
}
.search{
    display: flex;
    height: 55px;

}
.search{
    justify-content: space-between;
    align-items: center;
}
.div-header{
    max-width: 1600px;
    width: 100%;
}

.header-search{
    display: flex;
}
.header-search{
    justify-content: space-between;
    align-items: center;
}
.go-pro{
    display: flex;
    align-items: center;
}
.go-pro img{
    margin-right: 30px; 
}
.go-pro h2{
    font-size: 14px;
    align-items: center;
    color:#111111;
    margin-right: 35px;
}
.go-pro h2:hover{
    color: #FF2288;
}

.upload{
    width: 130px;
    height: 55px;
    border-radius: 12px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.upload:hover{
    background-color: #FF2288;
    color: #F2F2F2;
}



.upload h2{
    text-align: center;
    color:#111111;
}
.filter{
    display: flex;
}
.filter-container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
  
}
.filter{
    max-width: 1230px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.div-filter{
    display: flex;
    max-width: 758px;
    width: 100%;
    
}
.div-filter{
    justify-content: space-between;
    align-items: center;
}
.div-filter p{
    font-size: 16px;
}

.all{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.all p{
    font-size: 16px;
    text-align: center;
   
}
 .filter-img{
    display: flex;
    height: 56px;
    background-color: #F2F2F2;
    align-items: center;
    border-radius: 12px;
} 
.filter-img p{
    font-size: 16px;
    
}
.filter-img img{
    margin-right: 24px;
    width: 24px;
    height: 24px;
    
}
.ui{
    max-width: 1230px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content:space-between;
}

.ui img{
    max-width: 100%;
    height: auto;
    
}
.hover-img{
    position: relative;
}
.div-hover{
    position:absolute;
    top: 20px;
    left: 30px;
    display: none;
}
.heart-hover{
    position: absolute;
    left: 30px;
    top: 45px;
    display: none;
}
.hover-img:hover .div-hover{
    display: flex
}
.hover-img:hover .heart-hover{
    display: flex;
}


.dark{
    max-width: 1230px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    

}
.dark img{
    max-width: 100%;
    height: auto;
}
.load-more{
    width: 289px;
    height: 56px;
    border-radius: 12px;
    color: #2e2c2c;
    background-color: #F2F2F2;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 86px;
    
}
.view-designers{
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
    margin-top: 137px;
}
.top-designers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
}
.view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view p{
    opacity: 30%;
}
.top{
    margin-left: 25px;
  
}
.top img{
    max-width: 100%;
    height: auto;
}
.top h4{
    margin-top: 15px;
}
.top p{
    margin-top: 10px;
    font-size: 12px;
}
.follow-box{
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}
.footer-container{
    
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
}
.div-footer {
    display: flex;
    max-width: 1094px;
    width: 100%;
}
.div-footer {
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
}
.footer-info{
    display: flex;
    max-width: 1094px;
    width: 100%;
   
}
.footer-info{
    justify-content: space-between;
    align-items: center;
}
.div-gopro{
    height: 301px;
    margin-top: 36px;
}
.div-gopro p{
    margin-top: 15px;
}
.div-post{
    height: 301px;
    margin-top: 36px;
}
.div-post p {
    margin-top: 20px;
}
.div-about{
    height: 341px;
    margin-top: 36px;
}
.div-about p{
    margin-top: 20px;
}
.div-top{
    height: 275px;
    margin-top: 36px;
}
.div-top p{
    margin-top: 15px;
}
.footer-icon{
    max-width: 1235px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-table{
    max-width: 1291px;
    width:100%;
    margin: 0 auto;
    margin-top: 100px;
    
    
}
.section-table th,td {
    padding-top: 24px;
    padding-bottom: 24px;
    border:none;
}
.section-table th{
    border-top: none;
    color: #111111;
}
.section-table td{
    color: #AFAFAF;
}
.tr-iphone{
    background-color: #F2F2F2;
   
}
.tr-grey{
    color: #FF2288;
   
}


.div-container{
    max-width: 1920px;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
    align-items: center;
    gap: 20px ;
    grid-template-areas:
    "container div-header"
    "container filter-container"
    "none top-container"
    "none footer-container"

}
.container{
    
    grid-area: container;
}
.div-header{
    grid-area: div-header;
}
.filter-container{
    grid-area: filter-container;
}
.top-container{
    grid-area: top-container;
}
.footer-container{
    grid-area: footer-container;
}
@media screen and (max-width: 1024px){
   .div-container{
    width: 820px;
   }
   .div-container{
    grid-template-columns: 20% 75%;
   }
}




